*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(2, 0, 37);
    color: aliceblue;
    
}

/*header*/

.header {
    height: 10vh;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
      
}

.logo{
    width: 220px;
    color: aliceblue;
    font-family: Impact;
}

.nav-links {
    padding: 28px;

}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background:#ff3d00;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease-in-out;
}

.nav-links li a:hover ::after {
    width: 100%;
}

/*flight below header*/
.flight {
    padding: 5%;
   
}

.flight img {
    width: 100%;
    border-radius: 5%;
}

/* dropdown stuff */

.dropbtn {
  background-color: darkcyan;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: darkslateblue;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;} 
