*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(2, 0, 37);
}

/*header*/

.header {
    height: 10vh;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
      
}

.logo{
    width: 220px;
    color: aliceblue;
    font-family: Impact;
}

.nav-links {
    padding: 28px;

}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background:#ff3d00;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease-in-out;
}

.nav-links li a:hover ::after {
    width: 100%;
}

/*block 1 below header*/
